 /* --------------------------------------- NEW YORK CITY is a multisale skin made by Ana Codes for the RPG community --------------------------------------- */

/* ///////////////////////// PACK DARK BASIC ///////////////////////// */

/* Generic */
.ang-administrativa { background: var(--box-3); margin: 50px; border: var(--b2); font-size: 14px; line-height: 1.4em; }
.ang-administrativa encabezado { background: var(--dg2); padding: 40px; border-bottom: var(--b2); font: bold 32px / 1 var(--t1); color: var(--box-4); min-height: 100px; display: flex; align-items: center; align-content: center; justify-content: center; text-align: center; }
.ang-administrativa .ang-contenido { padding: 30px; }
.ang-administrativa .ang-contenido subtitulo { display: flex; align-content: baseline; color: var(--color-1); border-bottom: 3px solid var(--color-2); font: bold 18px var(--t1); }
.ang-administrativa .ang-contenido subtitulo span { display: flex; align-items: center; justify-content: center; width: 31px; height: 31px; content: "\ebf5"; overflow: hidden; background: var(--color-2); color: var(--box-3); font: 100 15px cappuccicons; }
.ang-administrativa .ang-contenido subtitulo n { display: block; padding: 0 10px; width: 437px; }

/* Register */
.ang-registro { display: flex; align-content: baseline; flex-wrap: wrap; }
.ang-administrativa .ang-contenido .ang-registro subtitulo { text-align: right; border-color: var(--color-1); color: var(--color-2); width: 100%; }
.ang-registro caja { width: 227px; margin-top: 10px; border: var(--b2); padding: 5px; }
.ang-registro caja:nth-child(2n) { margin-right: 10px; }
.ang-registro caja:last-child { width: 100%; margin-right: 0; }
.ang-registro caja m { border-bottom: var(--b2); display: block; padding: 5px 0 6px; text-align: center; font: bold 12px var(--t1); text-transform: uppercase; color: var(--color-2); }
.ang-registro caja scroll { overflow: auto; height: 176px; display: block; margin: 0 10px 10px; padding-right: 5px; font-size: 13px; }

/* Admins mov */
.ang-moderativa { width: 400px; border: var(--b2); margin: 50px auto; }
.ang-moderativa titulo { background: var(--dg2); display: flex; flex-wrap: wrap; align-items: center; align-content: center; margin: -1px; }
.ang-moderativa titulo n { font: bold 25px / 1 var(--t1); padding: 0 20px; border-bottom: var(--b2); width: 277px; height: 84px; display: flex; align-items: center; justify-content: left; color: var(--box-4); }
.ang-moderativa icono { display: block; border: var(--b2); background: var(--box-3); padding: 10px; width: 63px; height: 63px; }
.ang-moderativa icono i { display: flex; align-items: center; justify-content: center; background: var(--box-1); border: 3px solid var(--box-1); color: var(--color-1); outline: var(--b2); font-size: 35px; margin: 1px; width: 55px; height: 55px; }
.ang-moderativa descripcion { background: var(--box-3); display: block; padding: 15px; font: 500 11px / 1.4em var(--t1); border: var(--b2); margin: 12px; }

/* ///////////////////////// ACCENTS = EDITABLE ZONE ///////////////////////// */

:root {
   /* - Wrap and Header size - */
    --wsize: 1300px;
   /* - Images - */
    --img-0: url(https://i.imgur.com/P8ucwdy.jpg); /* body background */
    --img-1: url(https://via.placeholder.com/923x270); /* Header 1 - Left */
    --img-2:url(https://via.placeholder.com/125x75);  /* Header 2 - Right */
    --img-3: url(https://via.placeholder.com/82x50); /* Staff 1 - Left */
    --img-4: url(https://via.placeholder.com/82x50); /* Staff 2 - Middle */
    --img-5: url(https://via.placeholder.com/82x50); /* Staff 3 - Right */
    --img-6: url(https://via.placeholder.com/40); /* Search 1 */
    --img-7: url(https://via.placeholder.com/40); /* Search 2 */
    --img-8: url(https://via.placeholder.com/40); /* Search 3 */
    --img-9: url(https://via.placeholder.com/40); /* Search 4 */
    --img-10: url(https://via.placeholder.com/40); /* Search 5 */
    --img-11: url(https://via.placeholder.com/40); /* Search 6 */
    --img-12: url(https://via.placeholder.com/40); /* Search 7 */
    --img-13: url(https://via.placeholder.com/40); /* Search 8 */
    --img-14: url(https://via.placeholder.com/40); /* Search 9 */
    --img-15: url(https://via.placeholder.com/465x70); /* Character favorite */
    --img-16:url(https://via.placeholder.com/137); /* Statistics */
    /* Background palette */
    --box-0: #ffffff;
    --box-1: #131218;
    --box-2: #ffffff;
    --box-3: #0a090e;
    --box-4: #ffffff;
    --b1: 1px solid #ffffff;
    --b2: 1px solid #2a2a2a;
    --dg1: #ffffff4d;
    --dg2: linear-gradient(65deg, var(--color-1),var(--color-2));
   /* Color palette */
    --color-1: #1c0324;
    --color-2: #efecfa;
   /* Fonts and color shadows */
    --t1: Poppins;
    --t2: Poppins;
    --ts: #000000;
    --ts2: #ffffff;
}

/* Groups icons */
.ang-stats four a:nth-child(1):before { font-family: 'cappuccicons'; content: "\ea3d"; } /* group 1 */
.ang-stats four a:nth-child(2):before { font-family: 'FontAwesome'; content: "\f19c"; } /* group 2 */
.ang-stats four a:nth-child(3):before { font-family: 'FontAwesome'; content: "\f19d"; } /* group 3 */
.ang-stats four a:nth-child(4):before { font-family: 'cappuccicons'; content: "\eca0"; } /* group 4 */
.ang-stats four a:nth-child(5):before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f3ed"; } /* group 5 */
.ang-stats four a:nth-child(6):before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f54c"; } /* group 6 */
.ang-stats four a:nth-child(7):before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f1ad"; } /* group 7 */
.ang-stats four a:nth-child(8):before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f185"; } /* group 8 */
.ang-stats four a:nth-child(9):before { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f186"; } /* group 9 */
.ang-stats four a:before { font-family: 'bootstrap-icons'; content: "\F4FE"; } /* default */

/* ///////////////////////// ESTRUCTURA DEL FORO COMPLETO - LA APARIENCIA BÁSICA ///////////////////////// */
  
/* --- FONDO DEL FORO --- */
body { background: var(--box-2) fixed; background-repeat: repeat-x; background-position: left bottom; padding: 0!important; text-align: justify; }

/* --- FORMA DEL FORO --- */
#wrap { background: var(--box-1); margin: 0 auto; outline: var(--b2); padding: 0 10px; min-width: var(--wsize); max-width: var(--wsize); width: var(--wsize); overflow: hidden; }
.conteneur_container_IE { margin-left: 40px; }
/* --- NO WIGDETS --- */
#content-container div#left { width: 0; height: 0; } 
#content-container div#main { overflow: unset!important; }

/* --- BARRA LATERAL Y NAVEGACION --- */
.ang-top { margin-left: -51px; }
.ang-navegacion, .ang-lfrg { background: var(--box-3); outline: var(--b2); overflow: hidden; z-index: 999!important; }
.ang-navegacion div { width: calc(-76px + var(--wsize)); }
/* - Barra lateral - */
.ang-lfrg { padding-top: 10px; height: 100%; position: fixed; top: 0; width: 40px; }
.ang-lfrg a { color: var(--color-2); width: 100%; margin: 0 auto 20px; font-size: 15px; text-align: center; }
.ang-lfrg a:nth-child(2) { color: var(--color-1); }
/* - Navegacion - */
.ang-navegacion { margin-left: 41px; position: fixed; top: 0; width: calc(20px + var(--wsize)); height: 80px; }
.ang-navegacion usavatar { background: var(--box-2); border-right: var(--b2); padding: 0 15px; height: 80px; }
.ang-navegacion usavatar img { background: var(--box-1); border: var(--b2); object-fit: cover; height: 55px; padding: 4px; width: 55px; border-radius: 100%; }
/* - */
.ang-navegacion usname { width: 45.45%; font: 700 12px var(--t1); text-transform: uppercase; line-height: 1.4em; margin-left: 12px; }
.ang-navegacion usname strong { font-weight: 500; font-size: 8px; letter-spacing: 2px; line-height: 1; width: 100%; }
.ang-navegacion usname a { color: var(--color-2); }
.ang-navegacion navegar { width: 52%; justify-content: right; }
.ang-navegacion navegar, .ang-navegacion usname { height: 50px; }
.ang-navegacion navegar a { margin: 0 9px; text-transform: uppercase; font: 600 9px var(--t1); letter-spacing: .8px; color: var(--box-4); }
.ang-navegacion navegar a i { letter-spacing: 0; color: var(--color-2); font-size: 10px; margin-right: 3px; }
.ang-navegacion navegar mpv { color: var(--color-1); } .ang-navegacion navegar mpv:after, .ang-navegacion navegar mpv:before {color: var(--box-4);}
.ang-navegacion navegar mpv:after { content: ")"; margin-left: 2px; }
.ang-navegacion navegar mpv:before { content: "("; margin-right: 2px; }
.ang-navegacion historial { width: 100%; border-top: var(--b2); background: var(--box-1); padding: 1px 5px 1px 2px; height: 27px; font-size: 0; }
.ang-navegacion historial a:before { content: "\e9e4"; font: 10px 'cappuccicons'; margin: 0 3px; } a.nav { color: var(--box-4); }
.ang-navegacion historial span { background: var(--dg2); letter-spacing: .7px; padding: 2px 10px; border-radius: 3px; font: 700 8.5px var(--t1); text-transform: uppercase; }

/* ///////////////////////// HEADER TIPO TABLON DE ANUNCIOS ///////////////////////// */

/* - Tablon de anuncios - */
.ang-header { height: 511px; margin-top: 91px; overflow: hidden; }
.ang-header ban1 { background-image: var(--img-1); background-size: cover; border: 3px solid var(--box-1); outline: var(--b2); flex: 1; margin: 1px; height: 270px; width: 623px; }

/* - Welcome - */
.ang-header ban2 { width: 293px; padding: 0 18px; }
.ang-header b2-1 { font-family: var(--t1); line-height: 15px; margin-top: 3px; margin-bottom: 10px; }
.ang-header b2-1 n { width: 133px; color: var(--color-2); font-size: 10px; font-weight: 700; letter-spacing: 2px; text-align: center; text-transform: uppercase; }
.ang-header b2-1 n strong { color: var(--color-1); font: 25px var(--t1); font-weight: 900; line-height: 1; letter-spacing: 0; text-align: left; }
.ang-header b2-1 section { font: 11px var(--t2); padding-right: 4px; margin-left: 8px; font-size: 10px; line-height: 1.5em; width: 148px; height: 60px; overflow: auto; }

/* - Link destacado 1 - */
.ang-header b2-2 { width: 277px; margin-bottom: 15px; background: var(--box-1); padding: 7px; border: var(--b2); font: 11px var(--t1); text-transform: uppercase; }
.ang-header b2-2 i { font-size: 18px; }
.ang-header b2-2 a { text-align: right; width: 93%; color: var(--color-2)!important; font-weight: 800; letter-spacing: .5px; }

/* - Link destacado 2 e imagen - */
.ang-header fast { width: 50%; }
.ang-header fast a { background: var(--dg2); font: 700 10px var(--t2); color: var(--box-4); letter-spacing: 1px; padding: 5px 0; text-transform: uppercase; border: var(--b2); margin-bottom: 4px; width: 100%; text-align: center; }
.ang-header immg { background-image: var(--img-2); background-size: cover; width: 125px; height: 75px; border: 3px solid var(--box-1); outline: var(--b2); margin: 1px 0 0 15px; }

/* - Frase destacada - */
.ang-header b2-4 { height: 69px; color: var(--color-1); text-align: center; font: 700 10px var(--t1); letter-spacing: 2px; text-transform: uppercase; }
.ang-header b2-4 strong { width: 100%; color: var(--color-2); font-size: 24px; line-height: 1; }

/* - Links rapidos - */
.ang-header ban3 { width: 40px; background: var(--dg2); }
.ang-header ban3 a { background: var(--dg1); font-size: 10px; color: var(--color-2)!important; border-radius: 100%; border: var(--b1); padding: 7px; margin: 10px auto; }

/* - Ultima parte del tablon */
.ang-header ban4 { width: 100%; margin-top: 9px; }

/* - Ultimos temas - */
.temitasA { width: 200px; height: 214px; border: var(--b2); outline: var(--b2); outline-offset: 3px; margin-left: 4px; margin-right: 10px; margin-top: 4px; }
.temitasA n { width: 180px; }
.modtemas { height: 166px; overflow: auto; margin: 5px 0 5px 5px; }
.nwtpb { border: var(--b2); margin: 0 auto 5px; text-transform: uppercase; text-align: left; }
.nwtpbt { border-bottom: var(--b2); padding: 4px; font: 800 9px var(--t1); letter-spacing: .3px; }
.nwtpbt a { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; letter-spacing: .3px; width: 170px; }
.nwtpba { font: 10px var(--t2); line-height: 1em; padding: 4px; }

/* --- Staff, updates, character favorite and rp free --- */
.ang-header bb { width: 556px; flex: 1; } .ang-header b4-3 { width: 100%; }
/* - Staff - */
.ang-header staff { background-size: cover; width: 82px; height: 50px; border: 3px solid var(--box-1); outline: var(--b2); }
.ang-header staffi { flex: 1; width: 89px; margin: 0 5px; text-align: center; text-transform: uppercase; font: 600 10px var(--t2); }
.ang-header staffi m, .ang-header staffi n, .ang-header staffi a { margin-bottom: 1px; }
.ang-header staffi m { background: var(--dg2); padding: 6px 0; }
.ang-header staffi n { background: var(--color-2); font-size: 8px; letter-spacing: 3px; padding: 3px; }
.ang-header staffi a { background: var(--color-1); color: var(--box-4)!important; margin-bottom: 0; font-size: 8px; text-align: right; padding: 2px 6px; }
.ang-header staffi:last-child { margin-right: 0!important; }

/* - Updates - */
.ang-header b4-4 { width: 188px; overflow: hidden; margin-right: 10px; }
.ang-header notice { margin: 7px 0; height: 49px; } notice:last-child { margin-bottom: 0; }
.ang-header notice strong { float: left; background: var(--dg2); padding: 0 4px; margin-right: 3px; border-radius: 3px; }
.ang-header notice i { background: var(--box-3); border: var(--b2); color: var(--color-1); font-size: 24px; margin-right: 10px; height: 44px; width: 44px; }
.ang-header notice n { border: var(--b2); width: 122px; overflow: auto; height: 42px; font: 10px var(--t2); padding: 2px 3px 0 5px; }

/* -- Personaje destacado -- */
.ang-header b4-6 { background: var(--dg2); flex: 1; width: 192px; margin-top: 10px; }
.ang-header b4-6 pj { outline: var(--b2); border: 5px solid var(--box-1); background-size: cover; width: auto; height: 70px; margin: 14px; }
.ang-header b4-6 m { background: var(--box-1); border: var(--b2); color: var(--box-4); font: 700 10px var(--t1); text-transform: uppercase; margin: 0 10px; padding: 10px; letter-spacing: 0.5px; text-align: center; }

/* - Rp free - */
.ang-header b4-5 { width: 165px; }
.ang-header rp { width: 40px; height: 40px; background-size: cover; border: 3px solid var(--box-1); outline: var(--b2); margin: 9.6px 0 -0.2px 9px; }

/* --- Caja de texto y clima --- */
.ang-header ba { margin-left: 10px; width: 218px; }
/* - Caja de texto - */
.ang-header b4-1 { padding: 3px; height: 160px; border: var(--b2); }
.ang-header b4-1 section { height: 120px; border: var(--b2); background: var(--box-1); font-size: 10px; line-height: 1.5em; }
.ang-header b4-1 texto { padding-right: 3px; margin: 0 24px; height: 64px; overflow: auto; }
.ang-header b4-1 n { width: 100%; }
/* - Clima - */
.ang-header b4-2 { background: var(--box-3); border: var(--b2); margin-top: 6px; height: 48px; font: 600 10px var(--t1); text-align: center; overflow: hidden; }
.ang-header b4-2 i { color: var(--color-1); opacity: .5; font-size: 60px; }
.ang-header b4-2 m { text-transform: uppercase; font-size: 9px; letter-spacing: 4px; }
.ang-header b4-2 strong { line-height: 1; font-size: 20px; letter-spacing: 0; }

/* ///////////////////////// ESTRUCTURA DE LAS CATEGORIAS Y SUBFOROS ///////////////////////// */

li.header, ul#privmsgs-menu { background: var(--dg2); border: var(--b2); position: relative; height: 115px; width: 100%; }
li.header { margin-bottom: 15px!important; }

/* --- Encabezado e icono ---*/
li.header icono { height: 115px; width: 115px; outline: var(--b2); background: var(--box-1); color: var(--color-2); font-size: 50px; }
li.header span { border: var(--b2); width: 80px; height: 80px; background: var(--box-3); }
.ang-cat { flex: 1; padding: 0 25px; justify-content: right; }
.ang-cat h2 { margin: 0; text-transform: uppercase; font: 600 45px var(--t1); color: var(--box-1); letter-spacing: .5px; }

/* --- Subforos --- */
li.row { border: var(--b2)!important; } ul.forums { justify-content: space-between; }
ul.topiclist.forums li.row { width: 46.8%; margin: 15px!important; }

/* -- Name, lastpost y avatar -- */
li.row first { width: 100%; border-bottom: var(--b2); }
li.row first n { flex: 1; width: 384px; background: var(--box-1); }
a.forumtitle { font: 900 18px var(--t1); letter-spacing: 1px; -webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: var(--box-1)!important; padding: 0 15px; text-transform: uppercase; height: 40px; }
/* - Lastpost y conteo - */
li.row second { background: var(--box-2); border-top: var(--b2); width: 100%; height: 42px; }
li.row second:nth-child(3) { justify-content: right; }
.lastsf { width: 100%; height: 22px; padding: 0 12px; text-transform: uppercase; font: 600 8px var(--t1); letter-spacing: .5px; } .lastsf a { margin-right: 4px; }
.csf { background: var(--dg2); flex-grow: 1; width: 191.5px; height: 20px; text-align: center; font: 600 10px var(--t2); text-transform: uppercase; letter-spacing: 1px; color: var(--box-4); }
.csf:nth-child(2) { border-right: var(--b1); } .csf span, .lastsf strong { margin-left: 2px; }
/* - Avatar - */
li.row first avatar { border-left: var(--b2); background: var(--box-3); padding: 10px; width: 63px; height: 63px; }
li.row first avatar img { border: 3px solid var(--box-1); outline: var(--b2); margin: 1px; object-fit: cover; width: 55px; height: 55px; }

/* -- Descripciones -- */
li.row three { width: 100%; padding: 10px; }
.ang-background { flex-grow: 1; width: 442px; background-size: cover; background-position: center; height: 70px; border: 3px solid var(--box-1); outline: var(--b2); }
.ang-descrip { flex-grow: 1; margin: 10px; }
.ang-descrip texto { font: 11px arial; height: 75px; padding-right: 3px; overflow: auto; line-height: 1.4em; }
.ang-blinks { width: 210px; height: 75px; overflow: auto; } .ang-blinks a:last-child { border-bottom: 0; }
.ang-blinks a { background: var(--dg2); border-bottom: var(--b1); padding: 6.5px; font: 900 9px var(--t2); text-transform: uppercase; letter-spacing: .5px; color: var(--box-4); text-align: center; }

/* - Texto y links - */
.ang-dsc1 .ang-descrip { width: 218px; }

/* /////////////////////////////////// ESTADISTICAS DEL FORO /////////////////////////////////// */

.ang-stats .ang-cat { width: 833px; }
.ang-stats online, .ang-stats three off { border: var(--b2); padding: 10px; font: 10px var(--t1); }
.ang-stats texto { overflow: auto; }
/* - Titulos - */
.ang-stats m { background: var(--box-2); padding: 8px 5px; text-transform: uppercase; font: 600 10px var(--t2); border: var(--b2); text-align: center; width: 100%; }
.ang-stats z { font-size: 9px; color: var(--color-2); letter-spacing: 2px; line-height: 2; width: 100%; }
.ang-stats n { color: var(--color-1); text-align: center; font: 700 24px var(--t1); letter-spacing: 2px; text-transform: uppercase; line-height: 1; }

/* - Conectados ahora - */
.ang-stats one { flex: 1; width: 370px; margin-right: 10px; }
.ang-stats online { flex: 1; height: 65px; width: 251px; } .ang-stats online texto { height: 65px; }
.ang-stats one i { background: var(--box-3); color: var(--color-2); border: var(--b2); width: 85px; height: 85px; font-size: 40px; margin-left: 10px; }
.ang-stats one m, .ang-stats one n, .ang-stats four { margin-top: 10px; }
.ang-stats one n { height: 48px; width: 100%; }

/* - Links rapidos - */
.ang-stats middle { width: 40px; background: var(--dg2); margin-right: 10px; }
.ang-stats middle a { background: var(--dg1); font-size: 10px; color: var(--color-2)!important; border-radius: 100%; border: var(--b1); padding: 7px; margin: 9px auto; }

/* - Conteos - */
.ang-stats two { width: 200px; text-transform: uppercase; }
.ang-stats conteo i { width: 20px; height: 20px; padding: 5px; background: var(--box-2); border: var(--b2); color: var(--color-2); font-size: 15px; }
.ang-stats conteo mmb, .ang-stats conteo msj { width: 147px; height: 10px; margin-left: -1px; border: var(--b2); padding: 10px; margin-bottom: 10px; text-align: right; font: 400 9px var(--t1); letter-spacing: .5px; }
.ang-stats welcome { background: var(--box-3); border: var(--b2); padding: 20px; text-align: center; font: 500 10px var(--t2); letter-spacing: 0.5px; height: 73px; }
.ang-stats welcome strong { width: 100%; } .ang-stats welcome a { font: 700 12px var(--t1); line-height: 1; padding: 5px 0; }

/* - Ultimos conectados e imagenes - */
.ang-stats three { width: 360px; margin-left: 10px; }
.ang-stats three m { margin-bottom: 10px; padding: 8px; height: 26px; } .ang-stats three m strong { margin: 0 2px; }
.ang-stats three n { text-align: right; justify-content: right; width: 205px; height: 48px; }
.ang-stats three z { line-height: 1; width: 100%; }
.ang-stats three off { width: 184px; height: 75px; text-transform: uppercase; } .ang-stats off texto { height: 75px; }
.ang-stats three imagen { background-image: var(--img-16); background-size: cover; width: 137px; height: 137px; margin-left: 10px; margin-top: 1px; border: 3px solid var(--box-1); outline: var(--b2); }

/* - Grupos - */
.ang-stats four { border: var(--b2); width: 100%; padding: 5px; }
.ang-stats four a { background: var(--box-3); display: block; flex-grow: 1; color: var(--group); text-align: center; border: var(--b2); font-size: 18px; margin: 5px; padding: 8px; width: 81px; } 

/* ///////////////////////////////// LISTADO DE TEMAS ///////////////////////////////// */

/* - Barra de navegacion en listado - */
.ang-navlist { background: var(--box-3); border: var(--b2); margin-top: -1px; height: 40px; margin-bottom: 20px; }
.ang-navlist m { padding: 0 10px; font: 700 10px var(--t1); text-transform: uppercase; color: var(--box-4); letter-spacing: 1px; }

/* - Espacio del buscar - */
.search-box { margin: 0 47px; }
.search-box button { background: var(--dg2); border: var(--b1); color: var(--box-1); font-size: 12px; height: 28px; margin-left: 10px; width: 28px; cursor: pointer; }
.search-box input[type="text"] { width: 170px!important; } 
input.search { background-image: none; }

/* - Links importantes - */
.ang-mod { margin-left: 50px; }
.ang-mod a { background: var(--dg2); border-radius: 3px; font: 700 8px var(--t1); color: var(--box-4); padding: 6px 11px; text-transform: uppercase; border: var(--box-1); letter-spacing: .5px; margin-right: 8px; }

/* - Botones de posteo - */
.ang-buttpost { height: 30px; width: 30px; padding: 5px; background: var(--box-2); color: var(--box-4); font-size: 18px; border-right: var(--b2); }

/* - Titulos - */
ul.topiclist.topics li.header { height: 80px; } ul.topiclist.topics .ang-cat { width: 868px; }
ul.topiclist.topics li.header icono { height: 80px; width: 80px; font-size: 30px; }
ul.topiclist.topics li.header icono span { height: 60px; width: 60px; }
ul.topiclist.topics h2 { font-size: 25px; }

/* - Temas - */
.ang-tpicon { height: 100px; width: 100px; background-position: center; background-repeat: no-repeat; }
ul.topiclist.topics li.row first { flex: 1; width: 897px!important; border: 0!important; }
ul.topiclist.topics li.row { margin-bottom: 15px!important; }
/* - Avatar - */
ul.topiclist.topics first avatar { width: 80px!important; height: 80px!important; border-left: 0!important; border-right: var(--b2); }
ul.topiclist.topics first avatar img { width: 65px!important; height: 65px!important; }
/* - Nombre - */
ul.topiclist topiics { padding: 0 15px; height: 50px; font-family: var(--t1); width: 100%; }
ul.topiclist topiics strong { background: var(--dg2); color: var(--box-1); padding: 5px 15px; border-radius: 3px; margin-right: 5px; font-size: 10px; letter-spacing: .5px; text-transform: uppercase; }
a.tp { color: var(--color-2); font: 700 13px var(--t1); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 470px; margin-right: 2px; text-transform: none; letter-spacing: .2px; }
/*- Paginado, ultimo posteante y autor - */
ul.topiclist.topics second { height: 24px; } ul.topiclist.topics second:nth-child(3) .lastsf { justify-content: right; width: 100%; }
.ang-pagination { width: 100%; padding-right: 1px; } .ang-pagination .pagination span a { padding: 2px 4px!important; }
/* - Conteo - */
ul.topiclist.topics .lastsf { width: auto!important; font-size: 9px!important; }
ul.topiclist.topics cont .csf:nth-child(2) { border-right: 0; border-top: var(--b1); }
ul.topiclist.topics cont .csf { width: 155px; height: 49.5px; }

/* - Leyenda - */
.tpMT { margin-bottom: 10px; } .tpMT m:nth-child(2) { margin: 0 -1px; }
.tpMT m { flex: 1; width: 332px; border: var(--b2); }
.tpMT m p { margin: 0; padding: 10px; font-size: 11px; } .tpMT m:nth-child(3) p { font-size: 0; }
.tpMT m:nth-child(3) a { font: 10px var(--t1); text-transform: uppercase; }

/* ///////////////////////// ZONA DE LOS TEMAS ///////////////////////// */

.post { padding: 0; border: var(--b2); margin-bottom: 10px; }
.postbody { flex-grow: 1; width: 650px; padding: 20px; }
.postbody, .postbody .content {font-size: 12px;}
span.colorcito { color: var(--color-2); }

/* - Notificacion push - */
#push-bell { border: var(--b2); height: 40px; width: 40px; background: var(--dg2); font-size: 15px; margin-left: 81px; }
#push-bell::after { content: "\e959"; font-family: 'cappuccicons'; color: var(--box-1); }

/* -- Encabezado (icono, contactos y edicion) -- */
.ang-encabezadop { overflow: hidden; border-bottom: var(--b2); width: 100%; }
.ang-missii {text-transform: uppercase; margin: 0 0 0 1px; padding: 10px; outline: var(--b2); background: var(--box-3); height: 30px; justify-content: right; width: 100%; }
.ang-missi { flex: 1; width: 858px; height: 140px; }

/* - Icono - */
.ang-post1con { outline: var(--b2); padding: 15px; background: var(--groups); height: 110px; width: 110px; }
.ang-post1con img { width: 90px; height: 90px; object-fit: cover; border: 8px solid var(--box-1); outline: var(--b2); border-radius: 100%; }

/* - Contacto - */
.postprofile-contact { width: 455px; height: 90px; border-bottom: var(--b2); }
.postprofile-contact a { border-right: var(--b2); color: var(--groups); font-size: 22px; height: 90px; width: 90px; }

/* - Rango - */
.postprofile-rank { flex: 1; width: 402px; height: 91px; overflow: hidden; cursor: default; color: var(--groups); font: 800 25px / 1 var(--t1); text-transform: uppercase; letter-spacing: 2px; }
.postprofile-rank i { font-size: 180px; opacity: .2; height: 91px; overflow: hidden; }
.postprofile-rank n { z-index: 1; }

/* - Autor y botones de edicion - */
.ang-missii autor { font: 600 9px var(--t1); letter-spacing: .5px; width: 100%; }
ul.profile-icons { margin: 0; justify-content: right; width: 60%; position: absolute; } ul.profile-icons li { margin: 0!important; }
ul.profile-icons li a, div#groups-details li { margin: 0 0 0 10px !important; border: var(--b2); color: var(--groups); background: var(--box-1); letter-spacing: .7px; padding: 6px 15px; border-radius: 3px; font: 700 8.5px var(--t1); width: auto!important; }

/* - Profile - */
.postprofile { background: var(--box-2); flex-grow: 1; margin: 0; border-left: var(--b2); width: 280px; padding: 13px; }
.postprofile-avatar { padding: 10px; background: var(--box-1); border: var(--b2); margin: 4px auto; }
.postprofile-avatar, .postprofile-avatar img { width: 400px; height: 640px; object-fit: cover; }
.postprofile-username { margin: 16px 4px; background: var(--box-1); border: var(--b2); padding: 15px 10px; text-align: center; font: 700 12px var(--t1); text-transform: uppercase; letter-spacing: 1px; }

/* - Datos del profile - */
.postprofile-data { margin: 16px 4px 20px; }
.postprofile-data .profile_field, .pp-data .profile_field { border: var(--b2); margin-bottom: 15px; text-transform: uppercase; }

/* Los primeros 3 datos (mensajes, puntos y dinero) */
.postprofile-data .profile_field:nth-child(1), .postprofile-data .profile_field:nth-child(2), .postprofile-data .profile_field:nth-child(3) { width: 86.5px; position: absolute; margin-top: -78px; overflow: hidden; }
.postprofile-data .profile_field:nth-child(1) .postprofile-field-content, .postprofile-data .profile_field:nth-child(2) .postprofile-field-content, .postprofile-data .profile_field:nth-child(3) .postprofile-field-content { justify-content: center; }
.postprofile-data .profile_field:nth-child(1) .postprofile-field-label, .postprofile-data .profile_field:nth-child(2) .postprofile-field-label, .postprofile-data .profile_field:nth-child(3) .postprofile-field-label { width: 86px; }
.postprofile-data .profile_field:nth-child(2) { margin-left: 92px; } 
.postprofile-data .profile_field:nth-child(3) { margin-left: 184px; }
.postprofile-data .profile_field:nth-child(4) { margin-top: 95px; }

/* El resto de campos */
.postprofile-data .postprofile-field-label, .postprofile-data .postprofile-field-content, .pp-data .postprofile-field-label, .pp-data .postprofile-field-content { height: 30px; }
.postprofile-data .postprofile-field-label, .pp-data .postprofile-field-label { background: var(--groups); width: 94px; }
.postprofile-field-label span.label, .pp-data .postprofile-field-label { font-size: 0!important; }
.postprofile-field-label span { font: 700 10px var(--t1); color: var(--box-1)!important; }
.postprofile-data .postprofile-field-content, .pp-data .postprofile-field-content { background: var(--box-1); width: 156px; padding: 0 10px; font-size: 10px; }

/* - Portada final - */
.ang-portada { border-top: var(--b2); padding-top: 20px; }
.ang-portada img { padding: 4px; background: var(--box-1); border: var(--b2); width: 270px; height: 110px; object-fit: cover; }

/* - Spoiler, code and quote - */
blockquote cite, dl.codebox dt { border-bottom: var(--b2); color: var(--color-2); display: block; font: 800 15px var(--t1); text-transform: uppercase; letter-spacing: 1px; margin-bottom: 10px; padding-bottom: 3px; }
dl.codebox code, .spoiler_content.hidden { display: block; font: 12px var(--t2); height: auto; line-height: 1.3em; margin: 6px; max-height: 200px; overflow: auto; white-space: normal; }
blockquote, dl.codebox { background: var(--box-3); border: var(--b2); margin: 24px; overflow: hidden; padding: 10px; line-height: 1.3em; }
dl.codebox, dl.codebox code, .spoiler_content.hidden, .content blockquote { color: var(--box-4)!important; }
blockquote div { margin-left: 0; padding: 20px; } dl.codebox.hidecode dd { padding: 10px; }
dl.codebox.hidecode dt { display: none!important; }

/* ///////////////////////////////// LISTA DE MIEMBROS ///////////////////////////////// */

/* - Caja - */
.ang-member { border: var(--b2); width: 311px; margin: 0 10px 20px; overflow: hidden; }
/* - Nombre - */
.ang-mmbname { background: var(--color-2); width: 100%; padding: 10px; text-align: center; font: 700 10px var(--t1); text-transform: uppercase; letter-spacing: .5px; }
.ang-mmbname strong, .ang-mmbname a { color: var(--box-1); }
/* - Avatar - */  
.ang-member avatar { background: var(--box-3); padding: 10px; width: 100px; height: 135px; border-right: var(--b2); }
.ang-member avatar img { border: 3px solid var(--box-1); outline: var(--b2); margin: 1px; object-fit: cover; width: 80px; height: 115px; }
/* - Informacion - */ 
.ang-member info { width: 190px; } 
.ang-member m { height: 39px; padding: 0 10px; border-bottom: var(--b2); font: 10px var(--t2); text-transform: uppercase; letter-spacing: 0.5px; }
.ang-member m strong { margin-left: 2px; }
.ang-i { letter-spacing: 0; justify-content: right; width: 170px; height: 37px; font-size: 35px; opacity: .2; color: var(--color-2); overflow: hidden; }
/* - Contacto - */  
.contact { background: var(--box-2); padding: 5px; justify-content: right; height: 25px; }
.contact a { border: var(--b2); background: var(--box-1); margin-left: 5px; padding: 6px; color: var(--color-2); border-radius: 3px; }
/* - Datos extras - */
.ang-member mm { border-top: var(--b2); width: 100%; text-align: center; padding: 5px; background: var(--box-3); font: 700 10px var(--t1); text-transform: uppercase; letter-spacing: 1px; color: var(--box-4); }

/* ///////////////////////////////////////////// PERFIL SIMPLE ///////////////////////////////////////////// */

.ang-simple .ang-encabezadop { border: var(--b2); }
.ang-datas { flex-grow: 1; width: 661px; border-right: var(--b2); }

/* - Portada - */
.ang-port { background: var(--groups); width: 100%; height: 130px; border: var(--b2); justify-content: right; padding: 0 30px; font: 700 35px var(--t1); text-transform: uppercase; }
.ang-port strong { color: var(--box-1)!important; }

/* - Avatar - */
.ang-simple .postprofile { border-right: var(--b2); width: 310px!important; }
.ang-simple .postprofile-avatar { margin: -90px 0 0 19px!important; }

/* - Parejita y frase - */
.ang-match { border-bottom: var(--b2); background: var(--box-3); height: 90px; overflow: hidden; padding: 20px 30px; }
.ang-match frase { width: 220px; overflow: auto; height: 73px; padding-right: 5px; }
.ang-match match { flex: 1; width: 376px; justify-content: right; }
.ang-match match m { margin: 0 30px; font: 800 8px var(--t1); text-transform: uppercase; text-align: center; letter-spacing: 3px; }
.ang-match i { letter-spacing: 0; font-size: 30px; color: var(--color-2); margin-bottom: 5px; }
.ang-match uno, .ang-match dos, .ang-match uno .field_uneditable img, .ang-match dos .field_uneditable img { height: 70px; width: 70px; object-fit: cover; }
.ang-match uno, .ang-match dos { border: 5px solid var(--box-1); outline: var(--b2); }

/* - Campos del perfil - */
.ang-dat { height: 138px; overflow: hidden; padding: 30px; }
.pp-data { height: 126px; overflow: auto; }
.pp-data .profile_field { flex: 1; margin-right: 15px; }
.pp-data .postprofile-field-content { flex: 1; width: 162px!important; }

/* - Datazos chiquitos - */
.ang-simple ul.profile-icons li div:after { content: '\eb88'; font: 5px 'cappuccicons'; margin: 0 5px; color: var(--box-4); }
.ang-simple ul.profile-icons { width: 100%; }
div#groups-details li a { margin: 0 0 0 2px!important; border: 0!important; background: transparent!important; padding: 0!important; border-radius: 0!important; width: auto!important; }

/* /////////////////////////////////// AFILIADOS FOOTER DEL FORO /////////////////////////////////// */

/* - Titulo principal - */
.anita-footer li.header { height: 60px; margin: 10px 0!important; }
.anita-footer li.header icono { right: 0; height: 60px; width: 60px; }
.anita-footer li.header span { height: 50px; width: 50px; font-size: 30px; }
.anita-footer .ang-cat { width: 908px; justify-content: left; padding: 0 15px; }
.anita-footer .ang-cat h2 { font-size: 30px!important; }

/* - Caja de afiliados - */
.anita-footer { margin: 10px 0; }
.ang-footer { border: var(--b2); padding: 5px; height: 200px; }
.ac-footer-1, .ac-footer-3 { width: 387px; border: var(--b2); }
#anita-footer-sister img, #anita-footer-elites img, #anita-footer-tumblrs img { border: 3px solid var(--box-1); outline: var(--b2); object-fit: cover; }

/* - Af elite y normas - */
#anita-footer-elites { height: 150px; } 
#anita-footer-elites img { width: 40px; height: 40px; margin: 12px 15px; }
.anita-footer-titus { border-top: var(--b2); background: var(--box-3); color: var(--box-4)!important; height: 47px; font: 800 8px var(--t1); text-transform: uppercase; letter-spacing: 3px; }
.anita-footer-titus a { color: var(--box-4)!important; }

/* - Caja de creditos - */
.ac-footer-2 { flex: 1; width: 200px; margin: 0 5px; }
.ac-footer-2 texto { border: var(--b2); padding: 12px; margin-bottom: 5px; }
.ac-footer-2 texto n { overflow: auto; height: 117px; padding-right: 3px; line-height: 1.2em; }
.ac-footer-2 texto n a { font-weight: bold; color: var(--color-2); text-transform: uppercase; font-size: 9px; letter-spacing: 0.5px; }
/* NO tocar */
.ac-footer-2 anita { text-align: center; font-family: var(--t1); border: var(--b2); padding: 8px; }
.ac-footer-2 anita a { font: 500 20px 'Muthiara'; text-transform: lowercase; letter-spacing: 0; line-height: 1.3; }
.ac-footer-2 anita m { text-transform: uppercase; font-weight: 700; font-size: 8px; color: var(--color-2); letter-spacing: 2px; line-height: 1; }

/* - Af hermanos - */
div#anita-footer-sister { border-bottom: var(--b2); height: 105px; }
#anita-footer-sister img { height: 70px; width: 102px; margin: 0 8px; }

/* - Tumblr - */
div#anita-footer-tumblrs { height: 82px; overflow: hidden; padding: 5px; }
#anita-footer-tumblrs img { width: 50px; height: 50px; margin: 0 8px; }


/* ////////////////////////////////////////// CODIGOS VARIOS PARA PERSONALIZAR ////////////////////////////////////////// */

/* -- Transicion en todos los links -- */
a { text-decoration: none!important; -webkit-transition: all 0.5s ease-out; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; }

/* -- Scroll -- */
::-webkit-scrollbar-track { background: var(--color-2); border: 7px solid var(--box-1); }
::-webkit-scrollbar-thumb { background: var(--color-1); border: 5px solid var(--box-1); }
::-webkit-scrollbar { width: 15px; background: var(--box-1); }

/* - Tooltips - */
#s-m-t-tooltip { display: block; position: absolute; max-width: 300px; z-index: 999999!important; margin: 14px 14px 7px 12px; padding: 4px 12px 5px; background: var(--box-2); border: var(--b2); font-weight: 800; border-radius: 4px; font: 600 11px var(--t2); text-transform: uppercase; text-shadow: 1px 1px 0.5px var(--ts),-1px 1px 0.5px var(--ts),1px -1px 0.5px var(--ts),-1px -1px 0.5px var(--ts),1px 0 0.5px var(--ts),-1px 0 0.5px var(--ts),0 -1px 0.5px var(--ts),0 1px 0.5px var(--ts); line-height: 1em; color: var(--box-4); }

/* - Color en el selector - */
::selection { background: var(--color-2); color: var(--box-4); }

/* - Textos al final del foro - */
.navbar { padding: 0; }
#page-footer ul.linklist { border: var(--b2); font: 9px var(--t1); text-transform: uppercase; margin: 0 5px!important; padding: 5px 9px; position: relative; top: 0; }
.copyright strong { margin: 10px 0; font: 800 10px var(--t1); text-transform: uppercase; letter-spacing: 1px; }

/* - Informaciones - */
h1.page-title, #cp-main h1 { line-height: 1em!important;padding: 20px; margin: 0; background: var(--dg2); border: var(--b2); font: 900 40px var(--t1); text-transform: uppercase; letter-spacing: 1px; }
.h3 { margin: 0; background: var(--dg2); color: var(--box-1); padding: 5px; font: 600 10px var(--t1); letter-spacing: 0.5px; text-align: center; }
.h3, .h3 a, h1.page-title a, h1.page-title { color: var(--box-1)!important; }

/* - Mensajeria privada - */
ul#privmsgs-menu { height: 50px!important; } ul#privmsgs-menu li a { color: var(--box-4); }
ul#privmsgs-menu li { background: var(--box-3); border: var(--b2); border-radius: 3px; flex: 1; padding: 5px 25px; font: 600 10px var(--t1); text-transform: uppercase; color: var(--box-4); }

/* - Apariencia de busquedas - */
.search .ang-encabezadop { height: 100px; }
.search .ang-post1con { width: 70px; height: 70px; font-size: 40px; color: var(--color-2); }
.search .ang-missi { width: 898px; } .search .ang-missii { height: 15px; }
.search .postprofile-rank { height: 65px; width: 100%; font-size: 15px; padding: 0 10px; line-height: 1.2em; text-align: center; }
.search .ang-missii autor { text-align: right; width: 100%!important; }
.postprofile dd { border: var(--b2); background: var(--box-1); margin: 0 0 10px; padding: 10px; text-transform: uppercase; font: 500 9px var(--t1); }

/* - Botones del paginado de los temas - */
.pagination { display: inline-block; font: 400 9px var(--t2); letter-spacing: .8px; margin: 0; padding-right: 8px; text-transform: uppercase; width: 100%; }
.pagination span strong { background-color: var(--color-2); border: var(--b2); color: var(--box-1); font-size: 10px; margin: 0 2px; padding: 4px 8px; }
.pagination span a, .pagination span a:active, .pagination span a:link, .pagination span a:visited { background-color: var(--box-1); border: var(--b2); font-weight: 400; line-height: 1.5em; text-decoration: none; color: var(--box-4); font-size: 9px; margin: 0 2px; padding: 5px 8px; }

/* - Botones de previsualizacion - */
a.button1, a.button2, button.button2, input.button, input.button1, input.button2 { background: var(--color-2); border: var(--b2)!important; color: var(--box-1)!important; font: 600 9.5px var(--t2); overflow: visible; padding: 7px 8px!important; text-transform: uppercase; width: auto!important; }
.buttons { display: block; margin: 0; }
fieldset.submit-buttons input { vertical-align: middle; margin-right: 5px; }

/* - Formularios - */
.inputbox { background-color: var(--box-1); border: var(--b2); color: var(--color-4); cursor: text; font: 400 12px var(--t2); padding: 5px 10px; }
input.tiny, select.tiny { width: 136px!important; margin-right: -5px; }
input.inputbox, select.inputbox { width: 76%; outline: 0; }
textarea.inputbox { width: 85%; outline: 0; }
.inputbox, input[type="text"] { background-color: var(--box-1); cursor: text; font-size: 12px; }
.inputbox, input[type="text"], select { border: var(--b2); padding: 6px; }

/* - El seleccionar que hacer con el tema o en que subforo ir - */
select { background-color: var(--box-1); color: var(--box-4); cursor: pointer; font: 10px var(--t2); }

/* - Editor - */
.sceditor-container { background: var(--box-2)!important; border: var(--b2)!important; border-radius: 3px!important; }
.sceditor-toolbar { background: var(--box-3)!important; border-bottom: var(--b2)!important; padding: 10px!important; text-align: center; }
.sceditor-group { background: var(--box-2)!important; border-bottom: 0px!important; border-radius: 3px!important; border: 1px solid var(--b2)!important; }
a.sceditor-button.sceditor-button-source.hover, .sceditor-button.active, .sceditor-button:active, .sceditor-button:hover { background: var(--color-1)!important; } .sceditor-button, .sceditor-button div { opacity: .9; }
.sceditor-container iframe, .sceditor-container textarea { color: var(--box-4)!important; }

/* - Perfiles en edicion - */
#cp-main { width: 100%; margin: 0 auto!important; }
#tabs { background: var(--box-3); border: var(--b2); line-height: 100%; margin: 0 0 10px!important; text-align: center; padding: 10px; }
#tabs li { display: inline-block; font: 10px var(--t1); text-transform: uppercase; line-height: 1; margin: 0 15px; }
li.activetab { border-bottom: 4px solid var(--color-1); } 
#tabs a { cursor: pointer; float: none; font-weight: 700; }
#tabs a span { display: block; float: none; padding: 0; white-space: nowrap; }
fieldset dl dt { border-bottom: var(--b2); display: block; font: 700 9px var(--t1); line-height: 1.5em; text-align: center; text-transform: uppercase; }
dt label, fieldset dl:hover dt label, fieldset dl dt span, fieldset dl dt { color: var(--box-4)!important; }

/* - Apariencia del chat - */
body.chatbox { border: 0; color: var(--box-4); outline: 0; }
#chatbox_header, #chatbox_footer { background: var(--dg2); border-radius: 0; font-family: calibri; color: #fff!important; }
#chatbox_footer { height: 40px!important; display: flex!important; align-items: center; justify-content: right; }
/* Miembros */
#chatbox_members { border-right: var(--b2); bottom: 30px; color: #000; overflow: auto; position: absolute; top: 30px; width: 180px; }
#chatbox_members .member-title { background-color: transparent; border-bottom: var(--b2); color: #000; font: 400 9px Calibri; letter-spacing: 1px; line-height: 100%; margin-top: 0; padding: 6px 0; text-align: center; text-transform: uppercase; }
#chatbox_members ul { list-style: none;line-height: 100%;margin-left: 10px; }
/* Mensaje */
#chatbox_footer label { color: #fff; font: 10px verdana; }
#message, #submit_button { background: var(--box-1)!important; border: 0; padding: 2px!important; margin-left: 6px!important; margin-top: 0!important; }
#message { height: 13px!important; width: 276px!important; }
#submit_button { height: 25px!important; width: auto; background: var(--box-1); border: var(--b2); color: #fff!important; display: inline-block; }
input#submit_button { color: #000!important; }
body.chatbox .post { margin-bottom: 0!important; }
/*--*/
.chatbox_row_1, .chatbox_row_2 { padding: 2px 4px; }
#chatbox .msg { font: 500 11px calibri; line-height: 100%!important; text-align: justify; }
.chatbox-title, .chatbox-title a.chat-title { color: #fff!important; font: 900 14px arial; letter-spacing: 2px; padding: 5px; text-transform: uppercase; }
.chatbox-options li, .chatbox-options li a, .chatbox-options li label { color: #fff!important; }

/* --- */
.panel, .panel p, .forabg, .forumbg { margin: 0!important; padding: 0!important; }

/* ////////////////////////////////////////// CODIGOS QUE NO SE TOCAN ////////////////////////////////////////// */

.flex, a.nav, li.header, li.header span, li.row, .ang-header notice i, .ang-stats one i, .ang-stats conteo i, ul.profile-icons li a, .ang-simple ul.profile-icons li div, .postprofile-contact a, .postprofile-rank i, form#forum-search, div#groups-details li { display: flex!important; flex-wrap: wrap; }
.block, .ang-header b2-2 a, .ang-header fast a, .nwtpbt a, .ang-blinks a, .ac-footer-2 anita a, .ang-stats welcome a, .copyright strong, .contact a, .ang-stats texto, .ang-stats four span:after, .ang-match i { display: block; }
.acb, li.row { align-content: baseline; }
.acc, li.header, .ang-stats conteo i, .postprofile-rank i { align-content: center; }
.aic, a.nav, li.header span, .ang-header notice i, .ang-stats one i, .ang-stats conteo i, .postprofile-contact a, .postprofile-rank i, .ang-simple ul.profile-icons li div { align-items: center; }
.jcc, li.header span, .ang-header notice i, .ang-stats one i, .postprofile-contact a, .ang-stats conteo i { justify-content: center; }
.abs, .ang-i, .ang-stats four span:after, .postprofile-rank i { position: absolute; }
.tooltipster-base.tooltipster-default.tooltipster-fade.tooltipster-fade-show, .post:after, .lastsf br, .ang-simple ul.profile-icons li div:last-child:after, .ang-post1con .postprofile-field-label, .ang-simple .postprofile-contact div:nth-child(2), .ang-match .postprofile-field-label, .inner span.corners-top, .inner span.corners-bottom, .copyright br, li.row three br, .ang-stats online br, .tpMT m:nth-child(3) br, .profile_field br, .ang-portada .postprofile-field-label, .lastsf br { display: none!important; }
/* - Textos degradados - */
.tw { background: var(--dg2); font: 600 9px var(--t1); line-height: 1.1; letter-spacing: 1px; text-transform: uppercase; text-align: right; padding: 9px 10px; }
.ac-footer-2 anita a, .nwtpbt a, b2-2 i, a.forumtitle { -webkit-background-clip: text!important; -webkit-text-fill-color: transparent!important; background: var(--dg2); }
/* - Texto - */
.ts, blockquote cite, dl.codebox dt { text-shadow: 1px 1px .5px var(--ts),-1px 1px .5px var(--ts),1px -1px .5px var(--ts),-1px -1px .5px var(--ts),1px 0 .5px var(--ts),-1px 0 .5px var(--ts),0 -1px .5px var(--ts),0 1px .5px var(--ts); }
.ts2, h1.page-title, ul.topiclist.topics topiics strong, .h3 { text-shadow: 1px 1px 0.5px var(--ts2),-1px 1px 0.5px var(--ts2),1px -1px 0.5px var(--ts2),-1px -1px 0.5px var(--ts2),1px 0 0.5px var(--ts2),-1px 0 0.5px var(--ts2),0 -1px 0.5px var(--ts2),0 1px 0.5px var(--ts2); }
/* -- Fuente instalada -- */
@font-face {font-family:'Muthiara';src:url(https://dl.dropbox.com/s/w7tgq2el3yej01t/Muthiara%20demo%20version.otf) format('opentype');}

/**codage userway help**/
body .uwy #userwayAccessibilityIcon {
 
  /* Permet de décaler le bouton vers le bas à partir du header de votre forum */
 
    margin-top: 23px;
 
  /* Permet de décaler le bouton vers la gauche à partir du header de votre forum */
 
    margin-left: -6px;
}
